.sign_container {
	margin:0 auto;
	width:440px;
}

.sign_title {
	font-size:30px;
}

.sign_comment {
	font-size:14px;
	color: #505050;
}

.sign_email {
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 200px;
}

.sign_button {
	background-color: #4285b2;
	border: 0px solid #4285b2;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #ffffff;
	font-size: 14px;
	margin: 0px 0px;
	height: auto;
	padding: 6px 6px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100px;
	cursor:pointer;
}

.sign_button:hover {
	background-color: #000000;
}
